@import url("https://fonts.googleapis.com/css2?family=Gideon+Roman&display=swap");
body {
  background-color: #b0e0e6;
}
body section {
  background-color: #b0e0e6;
}
body main {
  background-color: #b0e0e6;
}

article {
  background-color: #b0e0e6;
}

p {
  color: black;
}

#obraElegidaJulio {
  height: 780px;
}

#lecturaJulio {
  height: 420px;
}

.images {
  width: 600px;
  width: 310px;
}

/*fonts*/
@font-face {
  font-family: "Gideon Roman";
  src: url(../assets/fuentes/GideonRoman-Regular.ttf);
}
/*selector universal*/
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
  background: powderblue;
}

/*nav*/
.navegador {
  background: linear-gradient(to right, #0C5B89, powderblue);
}

.listaDesordenada {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-family: "Gideon Roman", cursive;
  font-size: 35px;
  color: white;
  text-align: center;
}

.lista__elemento {
  display: inline;
  top: 0;
  color: black;
  font-weight: bolder;
}

.link__direccion {
  text-decoration: none;
  color: white;
}

/*body*/
body {
  height: 100%;
  width: 100%;
  background-color: powderblue;
}

/*footer*/
footer {
  position: inherit;
}

/*header*/
.banner {
  width: 100%;
  height: 100%;
  background-image: url("../assets/images/header.jpg");
  /*efecto parallax*/
  background-attachment: fixed;
  overflow: hidden;
}

/*main*/
.seccion {
  font-family: "Gideon Roman", cursive;
  font-size: 30px;
  font-weight: bolder;
  text-transform: uppercase;
}

.articulo {
  padding: 30px;
}

.articulo__titulo {
  font-family: "Gideon Roman", cursive;
  font-size: 30px;
  font-weight: bolder;
}

.articulo__texto {
  padding: 10px;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  font-family: "Gideon Roman", cursive;
  font-size: 28px;
  font-weight: lighter;
  text-align: justify;
}

.formulario {
  padding: 30px;
  background-color: rgba(187, 216, 255, 0.5);
  border: none;
}

.leyenda {
  font-family: "Gideon Roman", cursive;
  font-size: 26px;
  font-weight: bolder;
  text-transform: uppercase;
}

.input {
  border: none;
  border-bottom: 1px solid black;
  background: none;
}

.boton {
  padding: 15px;
  margin: 3px;
  background-color: white;
  color: rgb(83, 79, 206);
  font-family: "Gideon Roman", cursive;
  font-size: 25px;
  font-weight: bolder;
  border-radius: 25px;
  border-style: solid;
  border-color: rgb(83, 79, 206);
  transition: all 3s;
}

.boton:hover {
  height: 70px;
  width: 155px;
  padding: 18px;
}

.pieDePagina {
  width: 100%;
  height: 50px;
  padding: 10px;
  bottom: 0;
  background-color: black;
  color: white;
  font-family: "Gideon Roman", cursive;
  font-size: 20px;
  position: fixed;
}

.bg {
  height: 100%;
  width: 100%;
  background-image: url(../assets/images/anotherheader.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*modificador*/
.listaDesordenada--footer {
  text-align: right;
}

.lista__elemento--footer {
  display: inline;
  color: white;
  text-align: right;
  font-weight: bolder;
  font-size: 20px;
}

.articulo__titulo--formulario {
  font-family: "Gideon Roman", cursive;
  font-size: 30px;
  font-weight: bolder;
  color: rgb(255, 255, 255);
}

.articulo__titulo--h2 {
  font-size: 28px;
}

.articulo__titulo--h3 {
  font-size: 26px;
}

.articulo__titulo--h5 {
  font-size: 23px;
}

.articulo__titulo--h6 {
  font-size: 20px;
}

/*id*/
#logoHeader {
  width: 100%;
  height: 1000px;
  image-orientation: inherit;
  overflow: hidden;
  -webkit-animation-name: logoheader;
          animation-name: logoheader;
  -webkit-animation: bounce;
          animation: bounce;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

#obraElegidaJulio {
  grid-column-start: 1;
  margin: 10px;
}

#lecturaJulio {
  margin: 10px;
}

#videoRecomendado {
  margin: 10px;
}

#logoFooter {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  width: 115px;
  height: 30px;
}

/*Flexbox y Grid*/
* {
  flex-wrap: wrap;
}

.gridContainer {
  display: grid;
}

#destacadosHeadline {
  display: flex;
  justify-content: flex-start;
}

#elegidosMes {
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 70% 30%;
}

#textElegida {
  grid-column-start: 2;
}

#gridMainIndex {
  display: grid;
  grid-template-columns: 35% 35% 30%;
}

#gridBookClub {
  display: grid;
  grid-template-columns: 25% 40% 35%;
}

#instagramClub {
  grid-column-start: 3;
}

/*animaciones*/
@-webkit-keyframes logoHeader {
  0% {
    transform: scale(0.1);
  }
  25% {
    transform: scale(0.1 0.5);
  }
  50% {
    transform: scale(0.2);
  }
  75% {
    transform: scale(0.1 0.5);
  }
  100% {
    transform: scale(0.2);
  }
}
@keyframes logoHeader {
  0% {
    transform: scale(0.1);
  }
  25% {
    transform: scale(0.1 0.5);
  }
  50% {
    transform: scale(0.2);
  }
  75% {
    transform: scale(0.1 0.5);
  }
  100% {
    transform: scale(0.2);
  }
}/*# sourceMappingURL=estilos.css.map */